.Userinfos {
  .cover {
    max-width: 750px;
    max-height: 320px;
    margin-bottom: 1rem;

    img {
      object-fit: cover;
      width: 750px;
      max-height: 320px;
      border-radius: 1rem;
    }

    @media (max-width: 799px) {
      img {
        width: 100%;
      }
    }
  }

  .infos {
    display: flex;
    align-items: center;

    .profilePic {
      height: 150px;
      width: 150px;
      margin-right: 2rem;

      img {
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 1rem;
      }
    }

    .profileInfos {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    .left,
    .right {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .update__btn {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

@media (max-width: 799px) {
  .infos {
    flex-direction: column;

    .profileInfos {
      flex-direction: column;

      .left,
      .right {
        padding-top: 1rem;
      }
    }
  }
}
