@import "../../../global.scss";

.pictures__modal {
  background-color: $dark;
  padding: 1rem;
  border-radius: 1rem;
  width: 40vw;
  @media (max-width: 799px) {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    text-align: center;

    input {
      padding: 0.3rem;
      margin-bottom: 1rem;
    }

    label {
      margin: 0.5rem 0;
    }
  }

  .btn__container {
    display: flex;
    justify-content: space-evenly;
  }
}
