@import "../../../global.scss";

.RegisterPage {
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: auto;
      width: 100%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;

    .form {
      background-color: $darkest;
      padding: 1rem;
      border-radius: 1rem;
      border: 2px solid $alt-red;
      text-align: center;
    }

    .item {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    label {
      font-size: 2rem;
      color: $primary;
    }

    input {
      font-size: 1.3rem;
      padding: 0.3rem;
    }

    .question {
      padding: 2rem 0;
    }
  }
}

@media (max-width: 799px) {
  .RegisterPage {
    flex-direction: column;

    .right {
      padding-bottom: 2rem;
    }
  }
}
