@import "../../../global.scss";

.Comment {
  background-color: $darkest;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;

  .infos {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;

    em {
      font-weight: bold;
    }
  }

  .content {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid $light;
  }
}
