@import "../../../global.scss";

.Navbar {
  background-color: $primary;
  height: 80px;
  padding: 0.5rem 2rem;
  color: $darker;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    .img {
      height: 60px;
      width: auto;
      border-radius: 1rem;
    }

    @media (max-width: 900px) {
      .text {
        display: none;
      }
    }
  }

  .greeting {
    display: flex;
    align-items: center;

    .hello {
      padding-right: 1rem;
    }

    @media (max-width: 799px) {
      .hello {
        display: none;
      }
    }
  }

  .modals {
    position: absolute;
    top: 16px;
    right: calc(50% - 24px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      background-color: $light;
      box-shadow: 0px 0px 5px 7px rgba(107, 107, 107, 0.15);
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
    }
  }
}
